<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{ title }}
    </title>
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% if prism == true %}
      <link
        rel="stylesheet"
        type="text/css"
        href="/static/css/prism-tomorrow.css"
      />
    {% endif %}
  </head>
  <body class="font-sans">
    {% include "./partials/navbar.html" %}

    {{ content | safe }}

    {% include "./partials/footer.html" %}

    <script src="/static/js/alpine.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script
        type="text/javascript"
        src="https://identity.netlify.com/v1/netlify-identity-widget.js"
      ></script>
    {% endif %}
    <script>
(function () {
  function loadIdentity(cb){
    var s = document.createElement('script');
    s.src = 'https://identity.netlify.com/v1/netlify-identity-widget.js';
    s.onload = cb;
    document.head.appendChild(s);
  }

  var needsIdentity =
    location.pathname.startsWith('/admin') ||
    location.hash.indexOf('recovery_token') !== -1;

  if (needsIdentity) {
    loadIdentity(function () {
      if (window.netlifyIdentity) {
        window.netlifyIdentity.init();
        // If we came here with a recovery token, trigger the recovery flow
        if (location.hash.indexOf('recovery_token') !== -1) {
          window.netlifyIdentity.on('init', function () {
            window.netlifyIdentity.recover(location.hash);
          });
        }
        // Optional: send users to /admin after login
        window.netlifyIdentity.on('login', function () {
          if (!location.pathname.startsWith('/admin')) {
            document.location.href = '/admin/';
          }
        });
      }
    });
  }
})();
</script>

  </body>
</html>
